{% extends 'admin/main_admin.html' %}
{% load static %}
{% block 'content' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Data</h1>
    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Application</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive ">
                    <a href="/application_add/" class="btn btn-success btn-squre btn-lr "  >
                                        {% comment %} <i class="fas fa-trash"></i> {% endcomment %}
                                        Add

                                    </a><br><br>
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Company</th>
                            <th>Placement Details</th>
                            <th>Placement Date</th>
                            <th>Eligibility Criteria</th>
                            <th>Placement Description</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d  in pla %}
                        <tr>
                            <td>{{d.pd_id}}</td>
                            <td>{{d.c}}</td>
                            <td>{{d.pd_title}}</td>
                            <td>{{d.pd_date_of_placement}}</td>
                            <td>{{d.pd_eligibility_criteria}}</td>
                            <td>{{d.pd_description}}</td>
                            <td>
                                <a href="/application_edit/{{d.pd_id}}/" class="btn  btn-success  btn-sm">
                                        <i class="fas fa-thin fa-pen"></i>
                                    </a>

                                <a href="/application_delete/{{d.pd_id}}/" class="btn btn-danger btn-squre btn-sm ">
                                        <i class="fas fa-trash"></i>
                                    </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock 'content'%}