{% extends 'admin/main_admin.html' %}
{% load static %}
{% block 'content' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Data</h1>
    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Company List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Industry</th>
                            <th>Email</th>
                            <th>Contact Number</th>
                            <th>Website</th>
                            <th>Location</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for company in company_list %}
                        <tr>
                            <td>{{company.c_id}}</td>
                            <td>{{company.c_name}}</td>
                            <td>{{company.c_industry}}</td>
                            <td>{{company.c_email}}</td>
                            <td>{{company.c_contact_no}}</td>
                            <td>{{company.c_URL}}</td>
                            <td>{{company.c_location}}</td>
                            <td>
                                {% comment %} <a href="/company_delete/{{company.c_id}}/" class="btn btn-success btn-squre btn-sm">
                                        <i class="fas fa-solid fa-info"></i>
                                    </a> {% endcomment %}
                                <a href="/company_delete/{{company.c_id}}/" class="btn btn-danger btn-squre btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock 'content'%}