{% extends 'admin/main_admin.html' %}
{% load static %}
{% block 'content' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold btn-lg text-primary">Add Application</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in messages %}
                <div class="alert alert-success text-capitalize fs-5 text-center" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                <form class="row g-2" action="/department_adding/" method="post">
                    {% csrf_token %}
                    <div class="col-md-3">
                        <label for="inputfirstName" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="inputfirstName">
                    </div><br>
                    <div class="col-md-3">
                        <label for="inputfirstName" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="inputfirstName">
                    </div><br>
                    <div class="col-md-3">
                        <label for="inputfirstName" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control" id="inputfirstName">
                    </div><br>
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock 'content'%}