{% extends 'admin/main_admin.html' %}
{% load static %}
{% block 'content' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Data</h1>
    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-6">
                    <h6 class="m-0 font-weight-bold text-primary">Application</h6>
                </div>
                <div class="col-6 text-right">
                    <form action="/app_search/" method="POST" class="d-flex justify-content-center">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="search" class="form-control" placeholder="Search...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                            <div class="ml-2 d-flex align-items-center"> 
                                <a class="btn btn-primary btn-square btn-sm" href="{% url "application_list" %}" data-toggle="tooltip" title="Refresh List">
                                    <i class="fas fa-sync-alt"></i>
                                </a>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="card-body">
            <div class="table-responsive ">
                    {% comment %} <a href="/application_add/" class="btn btn-success btn-squre btn-lr "  >
                                       <i class="fas fa-trash"></i>
                                        Add

                                    </a><br><br> {% endcomment %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Student</th>
                            <th>Company</th>
                            <th>Placement Details</th>
                            <th>application Date</th>
                            <th>application Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d  in d_lists %}
                        <tr>
                            <td>{{d.ap_id}}</td>
                            <td>{{d.s}}</td>
                            <td>{{d.c}}</td>
                            <td>{{d.pd}}</td>
                            <td>{{d.ap_date}}</td>
                            <td>{{d.ap_status}}</td>
                            <td>
                                <a href="/application_edit/{{d.ap_id}}/" class="btn  btn-success  btn-sm">
                                        <i class="fas fa-thin fa-pen"></i>
                                    </a>
                                <a href="/application_delete/{{d.ap_id}}/" class="btn btn-danger btn-squre btn-sm ">
                                        <i class="fas fa-trash"></i>
                                    </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock 'content'%}