{% extends 'admin/main_admin.html' %}
{% load static %}
{% block 'content' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->

    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold btn-lg text-primary">Edit Application</h6>

            

        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in messages %}
                <div class="alert alert-success text-capitalize fs-5 text-center" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                <form class="row g-2" action="/application_editing/{{ show_d.ap_id }}/" method="post">
                    {% csrf_token %}

                    <div class="col-md-3">
                        <label for="inputfirstName"  class="form-label">Student</label>
                        <input type="text" name="student" value="{{show_d.s}}" class="form-control" id="inputfirstName">
                    </div> <br>
                    <div class="col-md-3">
                        <label for="inputfirstName"  class="form-label">Company</label>
                        <input type="text" name="company" value="{{show_d.c}}" class="form-control" id="inputfirstName">
                    </div> <br>
                    <div class="col-md-3">
                        <label for="inputfirstName"  class="form-label">Placement</label>
                        <input type="text" name="placement" value="{{show_d.pd}}" class="form-control" id="inputfirstName">
                    </div> <br>
                    <div class="col-md-3">
                        <label for="inputDate" class="form-label">Date</label>
                        <input type="date" name="date" value="{% if show_d.ap_date %}{{ show_d.ap_date|date:'Y-m-d' }}{% endif %}" class="form-control" id="inputDate">
                    </div><br><br><br><br>
                     
                    <div class="col-md-3">
                        <label for=""class="form-label" >Status:</label>
                        <select  name="status" class="option form-control">
                            <option value="Packed">Panding</option>
                            <option value="Accepted">Accepted</option>
                            <option value="On the way">Rejected</option>
                        </select>
                    </div><br><br><br><br>
                    
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                    {% comment %} <div class="col-md-2">
                        <label for="inputState" class="form-label">State</label>
                        <select id="inputState" class="form-select">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>s
                    </div> {% endcomment %}
                    {% comment %} <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Check me out
                            </label>
                        </div>
                    </div> {% endcomment %}

                </form>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock 'content'%}