{% extends 'admin/main_admin.html' %}
{% load static %}
{% block 'content' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Data</h1>
    <!--<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Student Qualification's</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        <tr>
                            <th style="font-weight: bold; font-size: larger;">Field's</th>
                            <td style="font-weight: bold; font-size: larger;">Student's Performance</td>
                        </tr>

                        <tr>
                            <th>ssc_total</th>
                            <td>{{ sq.sq_ssc_total_marks }}</td>
                        </tr>
                        <tr>
                            <th>ssc_obtained</th>
                            <td>{{ sq.sq_ssc_obtained_marks }}</td>
                        </tr>
                        <tr>
                            <th>sq_ssc_percentage</th>
                            <td>{{ sq.sq_ssc_percentage }}</td>
                        </tr>
                        <tr>
                            <th>sq_hsc_total_marks</th>
                            <td>{{ sq.sq_hsc_total_marks }}</td>
                        </tr>
                        <tr>
                            <th>sq_hsc_obtained_marks</th>
                            <td>{{ sq.sq_hsc_obtained_marks }}</td>
                        </tr>
                        <tr>
                            <th>sq_hsc_percentage</th>
                            <td>{{ sq.sq_hsc_percentage }}</td>
                        </tr>
                        <tr>
                            <th>sq_bachelor_cgpa</th>
                            <td>{{ sq.sq_bachelor_cgpa }}</td>
                        </tr>
                        <tr>
                            <th>sq_bachelor_percentage</th>
                            <td>{{ sq.sq_bachelor_percentage }}</td>
                        </tr>
                        <tr>
                            <th>sq_bachelor_degree</th>
                            <td>{{ sq.sq_bachelor_degree }}</td>
                        </tr>
                        <tr>
                            <th>sq_bachelor_university</th>
                            <td>{{ sq.sq_bachelor_university }}</td>
                        </tr>
                        <tr>
                            <th>sq_master_sem_1</th>
                            <td>{{ sq.sq_master_sem_1 }}</td>
                        </tr>
                        <tr>
                            <th>sq_master_sem_2</th>
                            <td>{{ sq.sq_master_sem_2 }}</td>
                        </tr>
                        <tr>
                            <th>sq_master_sem_3</th>
                            <td>{{ sq.sq_master_sem_3 }}</td>
                        </tr>
                        <tr>
                            <th>sq_master_sem_4</th>
                            <td>{{ sq.sq_master_sem_4 }}</td>
                        </tr>
                        <tr>
                            <th>sq_9th_percentage</th>
                            <td>{{ sq.sq_9th_percentage }}</td>
                        </tr>
                        <tr>
                            <th>sq_11th_percentage</th>
                            <td>{{ sq.sq_11th_percentage }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock 'content'%}
